<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal">

    <application
        android:icon="${icon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true" >

        <meta-data android:name="android.max_aspect" android:value="3.0" />

        <activity
            android:name="src.comitton.fileview.FileSelectActivity"
            android:label="@string/app_launch_name"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:launchMode="singleTop"
            android:exported="true" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name" android:scheme="http" tools:ignore="AppLinkUrlError" >
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <!-- for image viewer -->
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/webp" />
                <data android:mimeType="image/avif" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/jxl" />
                <!-- for text viewer -->
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="src.comitton.imageview.ImageActivity"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true" >
        </activity>
        <activity
            android:name="src.comitton.textview.TextActivity"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true" >
        </activity>
        <activity
            android:name="src.comitton.expandview.ExpandActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize|screenLayout"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.helpview.HelpActivity"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.cropimageview.CropImageActivity"
            android:theme="@style/MyAppCompat"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetConfigActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetFileListActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetRecorderActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetFileColorActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetImageActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetImageDetailActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetTextActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetEpubActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetImageTextDetailActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetImageTextColorActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetNoiseActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetCacheActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>
        <activity
            android:name="src.comitton.config.SetCommonActivity"
            android:theme="@style/MyTheme"
            android:resizeableActivity="true" >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:readPermission="true"
            android:writePermission="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
